@charset "UTF-8";

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgb(14, 14, 14);
    background-color: rgb(177, 222, 243);
}

h2 {
    color: brown;
}

p {
    text-align: justify;
}