@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: black;
  }
  h1{
    color: white;
    text-align: center;
  }

  .img {
     display: block;
     margin-left: auto;
     margin-right: auto;
  }