@charset "UTF-8";

body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }

  h1{
    color: white;
    text-align: center;
  }

  .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }