@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to top, #FBF6E8, #C6E7D1, #B3DFF3);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(30, 69, 105, 0.425);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
   color: #010F22;
   text-align: center;
   text-shadow: 1px 1px 2px rgba(42, 100, 185, 0.452);
}

h2{
   color: #3C7798;
}

p{
    color: #5C6269;
    text-align: justify;
}